# Environment variables for Vertex backend config
GOOGLE_GENAI_USE_VERTEXAI=1 # Choose Model Backend: 0 -> ML Dev, 1 -> Vertex
GOOGLE_CLOUD_PROJECT=<project_id>
GOOGLE_CLOUD_LOCATION=<region> #e.g. 'us-central1'

# GCS Buckets
GOOGLE_CLOUD_BUCKET_AGENTDEPLOYMENT=<bucket_used_for_agent_deployment_without_gs://
GOOGLE_CLOUD_BUCKET_ARTIFACTS=<bucket_used_for_artifacts_without_gs://

# Set up BigQuery Agent
BQ_COMPUTE_PROJECT_ID=agentspace-marketing-1371
BQ_DATA_PROJECT_ID=<bq_project_id>
BQ_DATASET_ID=<bq_dataset_id>

# Code Variables
NL2SQL_METHOD="BASELINE" # BASELINE or CHASE # SQLGen method. Sets the method for SQL Generation. Baseline uses Gemini off-the-shelf, whereas CHASE uses CHASE-SQL (https://arxiv.org/abs/2410.01943)
BQML_RAG_CORPUS_NAME='' # Leave this empty as it will be populated automatically # Set up RAG Corpus for BQML Agent

# (Optional) Set up Code Interpreter, if it exists. Else leave empty.
# The full resource name of a pre-existing Code Interpreter extension in Vertex AI. 
# If not provided, a new extension will be created. (e.g., projects/<YOUR_PROJECT_ID>/locations/<YOUR_LOCATION>/extensions/<YOUR_EXTENSION_ID>).
# Check the logs/terminal for the ID of the newly created Code Interpreter Extension and provide the value in your environment variables to avoid 
# creating multiple extensions.
CODE_INTERPRETER_EXTENSION_NAME='' # Either '' or 'projects/{GOOGLE_CLOUD_PROJECT}/locations/us-central1/extensions/{EXTENSION_ID}'

# Models used in Agents
ROOT_AGENT_MODEL='gemini-2.5-flash'
BIGQUERY_AGENT_MODEL='gemini-2.5-flash'
BASELINE_NL2SQL_MODEL='gemini-2.5-flash'
CHASE_NL2SQL_MODEL='gemini-2.5-flash'

#Used for logging and confirming correct deployment
DEMO_AGENT_DISPLAY_NAME="Cymbal BQ Agent"
AGENT_VERSION=20250902.1
